@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JS


<div id="photo-upload">
    <div class="photo-upload-description">Drag files here!</div>
</div>

<div class="loading" id="loading" style="display:none;margin:150px auto;width:200px;border-radius:10px;background:#26ad6a;text-align:center;color:white;">
    <img  src="img/loading.gif" style="width:70px;"/>
    <div>Uploading and Processing Photo<br />Standby!</div>
</div>


<canvas id="photo-canvas" style="display:none"></canvas>


@code {
    private IJSObjectReference module;

	 protected override async Task OnAfterRenderAsync(bool firstRender)
     {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./spectacles.js");

            await module.InvokeVoidAsync("loadDropZone");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}